body.editor {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  padding : 8px 10px;
  border-bottom: 1px solid @gray;

  background-color: white;

  .save-message {
    padding-left: 5px;
  }

  .brand {
    padding-bottom: 8px;
    font-size: 14px;
    color: @grayDark;
  }
}

.icon-save {
  background-position : 0 0;
  background-image: url('/editor/images/icons/disk.png');
  height: 16px;
  width: 16px;
}
.icon-compile {
  background-position : 0 0;
  background-image: url('/editor/images/icons/page_go.png');
  height: 16px;
  width: 16px;
}

.image-viewer {
  text-align: center;
  img {
    max-width: 90%;
    max-height: 80%;
    margin: 10px 0;
    border: 1px solid @gray;
  }
}

.test-dialog {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  max-height: 200px;
  width: 500px;
  overflow: scroll;
}

.full-page-pdf-tabs {
  padding: 8px 8px 0px 8px;
  margin-bottom: 0;

  li {
    float: right;
  }
}

.pdf-tab-pane {
  embed {
    width: 100%;
  }
}

.file-list-wrapper {
  overflow: scroll;
  border: 1px solid @grayLight;
  height: 200px;
  position:relative;

  .file-list {
    position: relative;
    .user-select(none);

    .file-list-entry {
      .file-icon {
        vertical-align: text-top;
      }

      cursor: pointer;
      padding: 3px 6px;
    }

    .selected {
      background-color: @mainBlue;
      color: white;
    }
  }
}


