body.editor {
  height: 100%;
  overflow: hidden;
}

.toolbar {
  padding : 8px 10px;
  border-bottom: 1px solid @gray;

  background-color: white;

  .save-message {
    padding-left: 5px;
  }

  .brand {
    padding-bottom: 8px;
    font-size: 14px;
    color: @grayDark;
  }
}


.icon-save {
  background-position : 0 0;
  background-image: url('/images/icons/save.png');
  height: 16px;
  width: 16px;
}
.icon-compile {
  background-position : 0 0;
  background-image: url('/images/icons/render.png');
  height: 16px;
  width: 16px;
}

.image-viewer {
  text-align: center;
  img {
    max-width: 90%;
    max-height: 80%;
    margin: 10px 0;
    border: 1px solid @gray;
  }
}
